---
import { School, SquareCode, Users } from "@lucide/astro";
import { Image } from "astro:assets";
import Chip from "./Chip.astro";
import RoleItem from "./RoleItem.astro";

import profileImage from "../assets/profile-hw.webp";
import HomeMentionsSection from "./HomeMentionsSection.astro";
import HomeSelectedWorkSection from "./HomeSelectedWorkSection.astro";

const technologies = [
  "TypeScript",
  "React",
  "NodeJS",
  "AWS",
  "Docker",
  "CI/CD",
];
---

<div class="flex flex-col items-center justify-center w-full">
  <div
    class="flex flex-col md:flex-row gap-8 justify-between items-center w-full max-w-5xl mx-auto py-16"
  >
    <div class="flex flex-col gap-4">
      <p
        class="text-6xl font-bold dark:text-white text-center md:text-left"
        data-translate="welcome.greeting"
      >
        Hi, I'm Jonathan Peraza.
      </p>

      <p
        class="text-gray-600 text-3xl dark:text-gray-400 text-center md:text-left"
        data-translate="welcome.description"
      >
        A Full Stack software engineer with a passion for building web
        applications who is currently based in Guadalajara, Mexico.
      </p>

      <div
        class="flex flex-row gap-4 flex-wrap w-full justify-center md:justify-start"
      >
        <!-- Chips -->
        <div
          class="flex flex-wrap justify-center md:justify-start md:flex-row gap-2"
        >
          {technologies.map((technology) => <Chip>{technology}</Chip>)}
        </div>
      </div>
    </div>

    <div class="shrink-0">
      <Image
        src={profileImage}
        alt="Profile"
        class="rounded-lg object-cover w-80 h-96 shadow-lg"
        fetchpriority="high"
      />
    </div>
  </div>

  <div
    class="border border-gray-300 dark:border-gray-700 rounded-lg grid grid-cols-1 md:grid-cols-3 gap-4 w-full max-w-5xl mx-auto shadow-lg bg-white dark:bg-slate-800 p-8"
  >
    <RoleItem
      role="Full Stack SWE"
      roleKey="welcome.role.fullstack"
      description="I'm a full stack SWE with a passion for building web applications who is currently based in Guadalajara, Mexico."
      descriptionKey="welcome.role.fullstack.desc"
      Icon={SquareCode}
    />

    <RoleItem
      role="Mentor"
      roleKey="welcome.role.mentor"
      description="I'm a mentor who is passionate about helping others learn and grow."
      descriptionKey="welcome.role.mentor.desc"
      Icon={School}
    />

    <RoleItem
      role="Interviewer"
      roleKey="welcome.role.interviewer"
      description="I'm an interviewer who is passionate about helping others prepare for interviews."
      descriptionKey="welcome.role.interviewer.desc"
      Icon={Users}
    />
  </div>

  <HomeSelectedWorkSection />

  <HomeMentionsSection />

  <!-- <div class="text-2xl font-bold">Awards</div> -->
</div>
